<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-tsMVkTbg1fD580vI8LcKN9zUKQW_tfI</string>
	<key>GCM_SENDER_ID</key>
	<string>79132403337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moodToday</string>
	<key>PROJECT_ID</key>
	<string>mood-today-421814</string>
	<key>STORAGE_BUCKET</key>
	<string>mood-today-421814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79132403337:ios:bedd13682a191e3ecc4858</string>
</dict>
</plist>